.border{
    width: auto;
    border-radius: 1rem;
    border: solid blue 0.2rem;
    max-width: max-content;
}
.header{
    text-align: center;
    /* padding: 0.3rem; */
    border-bottom: solid 0.1rem gray;
}
.center{
    text-align: center;
}
.list-name{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}